<head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Chemistry & Biochemistry -  Key and Card Management System {% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' }}" />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link rel="stylesheet" href="{{ '/../assets/css/dx.fluent.custom-scheme.css' }}">
        <link rel="stylesheet" href="{{ '/../assets/css/styles.css' }}">
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/devextreme/23.2.5-build-24056-0112/css/dx.carmine.compact.min.css" integrity="sha512-3b7o2bNbTi+R9MYDipOtG41G74Lgdpsp+1LEPXYeiXj/gKUQUtIx8W3mOaLIHuJNj6j0xQiRQ7AOA21VWc8W6w==" crossorigin="anonymous" referrerpolicy="no-referrer" />--!>
        <script src="https://kit.fontawesome.com/4d3dd9bdf2.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.4.0/exceljs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>
        <script>
                // On page load or when changing themes, best to add inline in `head` to avoid FOUC
                if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                        document.documentElement.classList.add('dark');
                } else {
                        document.documentElement.classList.remove('dark')
                }
        </script>
        <style>
        @media (prefers-color-scheme: light) {
            /* Light theme styles go here */
            #inner_menu a {
                color: #4B5563}
        }

        .dx-theme-fluent-typography h3{
            font-weight: bold; font-size: 1.2rem;}
        .dx-theme-fluent-typography h2{
            font-size: 1.5rem;
        }
        </style>
        {% block styles %}
        {% endblock %}

        {% block top_javascript %}
        {% endblock %}

        {% endblock %}

</head>