<nav class="w-full border-b bg-gray-900 border-gray-200 mt-0 sm:pt-0 dark:bg-gray-800 dark:border-gray-700">
    <div class="container py-3 mx-auto">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start">
                <a href="{{ "/"}}" class="flex mr-4">
                    <img src="./../../assets/img/fl_chem_rev.png" class="h-10 mr-3" alt="Chemistry Logo" />

                </a>

            </div>

            <div>


            </div>
        </div>
    </div>
</nav>