<nav class="w-full border-b bg-gray-900 border-gray-200 mt-0 sm:pt-0 dark:bg-gray-800 dark:border-gray-700">
    <div class="container py-1 mx-auto">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start">
                <a href="{{ "/"}}" class="flex mr-4">
                    <img src="./../../assets/img/fl_chem_rev.png" class="h-14 mr-3" alt="Chemistry Logo" />

                </a>

            </div>

            <div>
                <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-4 mb-12">
                    <h2 class="text-2xl font-extrabold text-white  mt-10"><i class="fa-solid fa-key-skeleton-left-right"></i> KeyKeeper</h2>
                    <span class="text-orange-500">Request and Tracking System</span>
                </section>

            </div>

        </div>
    </div>
</nav>