{% extends "./base.html.twig" %}

{% block head %}
    {{ parent() }}

{% endblock %}
    {% block styles %}
    {% endblock %}
    {% block top_javascript %}

    {% endblock %}
{% block content %}
    {% include './partials/inner_navbar.html.twig' %}

    {% set page_title = 'System Administration' %}
    {% include './partials/breadcrumb.html.twig' %}

    <div id="gridContainer" class="container mx-auto p-2.5 min-h-full">


        <h1 class="mb-4 font-extrabold leading-none tracking-tight text-gray-900 md:text-xl lg:text-3xl dark:text-slate-700">System <span class="text-red-600 dark:text-red-500">Administration</span></h1>
        <p class="text-lg font-medium text-gray-600 lg:text-lg dark:text-gray-900 mb-4">Manage Employee Types</p>

        <p>To add an employee type to the database, click the plus button below to access the employee type (status) management tool, navigate to the entry form and provide employee type in clearly understandable language</p>
        <div id="dataGridEmployees" class="dark:!bg-gray-100 pt-4 px-6 pb-12 mt-8 mb-8 rounded-md"></div>

        <p class="text-lg font-medium text-gray-600 lg:text-xl dark:text-gray-900 mb-4">Manage Users</p>
        <p>To add an administrative user to the database, click the plus button below to access the user management tool, navigate to the entry form, provide a valid username (UMD directory ID), firstname, last name and email address</p>
        <div id="dataGridUsers" class="dark:!bg-gray-100 pt-4 px-6 pb-12 mt-8 rounded-md"></div>
    </div>

{% endblock %}

{% block javascript %}
<script src="{{ '../assets/js/users.js' }}"></script>
<script src="{{ '../assets/js/employees.js' }}"></script>
{% endblock %}