{% extends "./base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% include './partials/inner_navbar.html.twig' %}
    {% set page_title = 'Dashboard' %}
    {% include './partials/breadcrumb.html.twig' %}
    <div id="GridContainer" class="container mx-auto p-2.5 min-h-full">
        <h1 class="mb-4 font-extrabold leading-none tracking-tight text-gray-900 md:text-xl lg:text-3xl dark:text-slate-700">Home <span class="text-red-600 dark:text-red-500">Dashboard</span></h1>
        <p class="text-lg font-medium text-gray-600 lg:text-lg dark:text-gray-900 mb-4">Chemistry and Biochemistry KeyKeeper System</p>
        <p>This system can be accessed for key requests and searches  24/7. Key monitors can assign key permissions to individuals per request.</p>


    </div>
{% endblock %}

{% block javascript %} {% endblock %}