{% extends "./base.html.twig" %}

{% block head %}
    {{ parent() }}

{% endblock %}
    {% block styles %}
    {% endblock %}
    {% block top_javascript %}

    {% endblock %}
{% block content %}
    {% include './partials/inner_navbar.html.twig' %}
    {% set page_title = 'Administration' %}
    <div id="GridContainer" class="container mx-auto p-2.5">
        {% include './partials/breadcrumb.html.twig' %}

        <h1 class="page-title">System <span class="page-subtitle">Administration</span></h1>
        {% include './partials/admin_reports.html.twig' %}
        <h2 class="text-lg font-bold mb-2 mt-4 dark:text-white">Manage Employee Types</h2>
        <p>To add an employee type to the database, click the plus button below to access the employee type (status) management tool, navigate to the entry form and provide employee type in clearly understandable language</p>
        <div id="dataGridEmployees" class="dark:bg-slate-700 p-4 mb-4 mt-8 rounded-md dx-swatch-custom-scheme"></div>
    </div>

{% endblock %}

{% block javascript %}
<script src="{{ base_path() }}/assets/js/dx-data/employees.js"></script>
{% endblock %}