{% extends "./base.html.twig" %}
{% set lead = 'Register, assign, and reassign keys' %}
{% set paragraph = 'To add a key to the database, click the plus button below to access the key management tool, navigate to the entry form, and provide the requested in formation. Required fields are marked with an asterisk (*).' %}
{% block head %}
    {{ parent() }}

{% endblock %}
    {% block styles %}
    {% endblock %}
    {% block top_javascript %}

    {% endblock %}
{% block content %}
    {% include './partials/inner_navbar.html.twig' %}
    {% set page_title = 'Manage Keys' %}
<div id="GridContainer" class="container mx-auto p-2.5">
    {% include './partials/breadcrumb.html.twig' %}


        <h1 class="page-title">Manage <span class="page-subtitle">Keys</span></h1>
        {% include './partials/title-panel.html.twig' %}
        <div id="dataGridKeys" class=" dark:bg-slate-700 p-4 mb-4 mt-8 rounded-md dx-swatch-custom-scheme"></div>


</div>
    {% endblock %}

    {% block javascript %}
    <script src="{{ base_path() }}/assets/js/dx-data/keys.js"></script>
{% endblock %}