{% extends "./base.html.twig" %}
{% set lead = 'Welcome to The Chemistry and Biochemistry KeyKeeper System' %}
{% set paragraph = 'You are logged in as Caedmon Walters' %}
{% block head %}
    {{ parent() }}

{% endblock %}
    {% block styles %}
    {% endblock %}
    {% block top_javascript %}

    {% endblock %}
{% block content %}
    {% include './partials/inner_navbar.html.twig' %}
    {% set page_title = 'Confirmation' %}
    <div id="GridContainer" class="container mx-auto p-2.5">
        {% include './partials/breadcrumb.html.twig' %}
        <h1 class="page-title">Request <span class="page-subtitle">Confirmation</span></h1>
        {% include './partials/title-panel.html.twig' %}

        <div class="flex items-center justify-center">
            <div class="p-4 rounded">
                <div class="flex flex-col items-center space-y-2">
                    <i class="fa-duotone fa-thin fa-file-check text-green-900 text-5xl"></i>
                    <h1 class="text-3xl font-bold">Thank You !</h1>
                    <p>We have received your key/card access order submission! Check your email for a confirmation of this request.</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block javascript %} {% endblock %}

