{% extends "./base.html.twig" %}

{% block head %}
    {{ parent() }}

{% endblock %}
    {% block styles %}
    {% endblock %}
    {% block top_javascript %}

    {% endblock %}
{% block content %}
    {% include './partials/inner_navbar.html.twig' %}
    {% set page_title = 'Administration' %}
    <div id="GridContainer" class="container mx-auto p-2.5">
        {% include './partials/breadcrumb.html.twig' %}

        <h1 class="mb-6 font-extrabold leading-none tracking-tight text-gray-900 md:text-xl lg:text-3xl dark:text-slate-700">System <span class="text-red-600 dark:text-red-500">Administration</span></h1>
        {% include './partials/admin_reports.html.twig' %}
        <h2 class="text-lg font-bold mb-2 mt-4 dark:text-white">Manage Users</h2>
        <p>To add an administrative user to the database, click the plus button below to access the user management tool, navigate to the entry form, provide a valid username (UMD directory ID), firstname, last name and email address</p>
        <div id="dataGridUsers" class="dark:!bg-gray-100 p-4 mb-4 mt-4 rounded-md"></div>

    </div>

{% endblock %}

{% block javascript %}
<script src="{{ '../assets/js/dx-data/users.js' }}"></script>
<script src="{{ '../assets/js/dx-data/employees.js' }}"></script>
{% endblock %}