{% extends "./base.html.twig" %}

{% block head %}
    {{ parent() }}

{% endblock %}
    {% block styles %}
    {% endblock %}
    {% block top_javascript %}

    {% endblock %}
{% block content %}
    {% include './partials/inner_navbar.html.twig' %}

        {% set page_title = 'Users' %}
        {% include './partials/breadcrumb.html.twig' %}

    <div id="gridContainer" class="container mx-auto darK:bg-slate-100 pb-2.5">
        <div id="dataGridUsers" class="dark:!bg-gray-100 pt-12 px-6 mb-12"></div>
    </div>
{% endblock %}

{% block javascript %}
<script src="{{ '../assets/js/main.js' }}"></script>
{% endblock %}