{% extends "./base.html.twig" %}

{% block head %}
    {{ parent() }}

    {% block styles %}

    {% endblock %}
    {% block top_javascript %}

    {% endblock %}

{% endblock %}
{% block content %}
    {% include './partials/inner_navbar.html.twig' %}
    {% set page_title = 'Approve Request' %}
<div id="GridContainer" class="container mx-auto p-2.5">
    {% include './partials/breadcrumb.html.twig' %}
    <div id="container" class="container mx-auto p-2.5">
        <h1 class="mb-6 font-extrabold leading-none tracking-tight text-gray-900 md:text-xl lg:text-3xl dark:text-slate-700">Request<span class="text-red-600 dark:text-red-500 m-2">Approval</span></h1>
        <div class="text-right mb-4">   <a href="{{ url_for('requests') }}" class="btn-light mb-2">
                 Show Requests
            </a>
        </div>
        <hr class="h-px my-4 border-0">
        <!-- component -->
        {% include './includes/bar_2.html.twig' %}
        <!-- component -->
        <hr class="h-px my-4 border-0">
        <!-- form -->

        <form method="POST" action="/api/requests" class="p-5 mt-5 w-full border-x border-y-2 border-gray-200 block rounded-lg bg-white text-left text-surface dark:bg-gray-400 dark:!text-white">
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="first_name">
                        First Name
                    </label>
                    <input required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:text-white dark:bg-gray-800"  id="first_name" name="first_name" type="text">

                </div>
                <div class="w-full md:w-1/4 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="last_name">
                        Last Name
                    </label>
                    <input required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:text-white dark:bg-gray-800" id="last_name" name="last_name"  type="text">
                </div>
                <div class="w-full md:w-1/4 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email">
                        Email
                    </label>
                    <input required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:text-white dark:bg-gray-800" id="email" name="email" type="email">
                </div>

                <div class="w-full md:w-1/4 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="uid">
                        UID
                    </label>
                    <input required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:text-white dark:bg-gray-800" id="uid" name="uid" type="number" min="111111111" max="999999999" maxlength=9>
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-8">
                <div class="w-full md:w-1/4 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="telephone">
                        Telephone
                    </label>
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:text-white dark:bg-gray-800" id="telephone" name="telephone" type="tel">
                </div>

                <div class="w-full md:w-1/4 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="extension">
                        Office Extension
                    </label>
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:text-white dark:bg-gray-800" id="extension" name="extension" type="text">
                </div>

                <div class="w-full md:w-1/4 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="pi_supervisor">
                        PI/Supervisor
                    </label>
                    <input required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:text-white dark:bg-gray-800" id="pi_supervisor" name="pi_supervisor" type="text">
                </div>

                <div class="w-full md:w-1/4 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="pi_email">
                        PI/Supervisor (Email)
                    </label>
                    <input required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:text-white dark:bg-gray-800" id="pi_email" name="pi_email" type="email">
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-8">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="employment_status">
                        Employment Status
                    </label>
                    <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white rounded border border-gray-200 sm:flex dark:bg-gray-800 dark:text-white">
                        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input required id="employment_status" name="employment_status" type="radio" value=1 class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="employment_status" class="w-full py-1 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Staff</label>
                            </div>
                        </li>

                        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="employment_status" name="employment_status" type="radio" value=2 class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="employment_status" class="w-full py-1 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Faculty</label>
                            </div>
                        </li>
                        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="employment_status" name="employment_status" type="radio" value=3 class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="employment_status" class="w-full py-1 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Grad Student</label>
                            </div>
                        </li>

                        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="employment_status" name="employment_status" type="radio" value=4 class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="employment_status" class="w-full py-1 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Undergraduate</label>
                            </div>
                        </li>
                        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="employment_status" name="employment_status" type="radio" value=5 class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="employment_status" class="w-full py-1 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Post-Doc/Other</label>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-8">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="request_reason">
                        Reason for key request (choose one)
                    </label>
                    <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border rounded border-gray-200 sm:flex dark:bg-gray-800 dark:text-white">
                        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input required id="request_reason" name="request_reason" type="radio" value="New Staff" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="request_reason" class="w-full py-1 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">New Employee</label>
                            </div>
                        </li>
                        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="request_reason" name="request_reason" type="radio" value="Transfer" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="request_reason" class="w-full py-1 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Transfer</label>
                            </div>
                        </li>
                        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="request_reason" name="request_reason" type="radio" value="Replace Lost Key" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="request_reason" class="w-full py-1 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Replace Key</label>
                            </div>
                        </li>
                        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="request_reason" name="request_reason" type="radio" value="New Space Assignment" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="request_reason" class="w-full py-1 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">"New' Space</label>
                            </div>
                        </li>

                        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="request_reason" name="request_reason" type="radio" value="Other" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="request_reason" class="w-full py-1 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Other</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="rooms">
                       Enter rooms below
                    </label>
                </div>

            </div>
            <div class="flex flex-wrap -mx-3 mb-8">
                <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:text-white dark:bg-gray-800" id="room_one" name="room_one" type="text">
                </div>
                <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:text-white dark:bg-gray-800" id="room_two" name="room_two" type="text">
                </div>

                <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:text-white dark:bg-gray-800" id="room_three" name="room_three"  type="text">
                </div>

                <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:text-white dark:bg-gray-800" id="room_four" name="room_four" type="text">
                </div>

                <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:text-white dark:bg-gray-800" id="room_two" name="room_five" type="text">
                </div>

            </div>
            <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full px-3 mb-8 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="card_access">
                        Id card activation needed (select one or more spaces from the list)
                    </label>
                    <select id="card_access" class="block appearance-none w-full  bg-gray-200 border border-gray-200 text-gray-700 py-1 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:text-white dark:bg-gray-800" name="card_access[]" multiple="multiple">
                        <option value="BMS-Building">Biomolecular Sciences Building</option>
                        <option value="CHEM-Building">Chemistry Building</option>
                        <option value="ESJ-Building">Edward St.John Building</option>
                        <option value="CHM B0208">Analytical NMR</option>
                        <option value="BMS 1105">Biomolecular NMR</option>
                        <option value="CHM 3217">Optical Instrumentation</option>
                        <option value="CHM 0300">Sita's Lab</option>
                        <option value="CHM 2342">Laser Lab</option>
                        <option value="CHM 0504">Surface Analysis Center (CHM 0504)</option>
                        <option value="CHM 0508">Surface Analysis Center (CHM 0508)</option>
                        <option value="X-ray Crystallography">X-ray Crystallography</option>
                    </select>
                </div>



                <p class="rounded-md p-4 mx-auto mt-6 mb-2 text-sm/7 text-gray-600 text-center bg-white dark:bg-gray-400 dark:text-white"><span class="font-bold">MD Code, Criminal Law, ยง 7-204: </span>states in part that "a person may not use, distribute, manufacture, duplicate, or possess keys capable of being used in locks in or on real property that the State owns or leases...
                    [unless authorized to do so].
                    This relates to any University key marked "U of M", "Unlawful to duplicate", or "Do Not Duplicate". Any violation of the subsection shall be a misdemeanor and punishable upon conviction by a fine not to exceed $500 for each office.</p>
                <p class="font-bold rounded-md p-4 mx-auto my-2 text-sm/6 text-red-600 text-center bg-white dark:bg-gray-400 dark:text-red-700">
                    All keys are to be RETURNED to the Key Monitor. A fee of $10 per key will be charged for replacing lost keys.
                </p>
                <div class="w-full px-3 mb-8 md:mb-0">
                <label class="inline-flex items-center cursor-pointer">
                    <input required type="checkbox" name="signed" value=1 class="sr-only peer">
                    <div class="relative w-11 h-6 bg-gray-400 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-gray-300 dark:peer-focus:ring-gray-700 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-green-600"></div>
                    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-black">Toggle this option to sign the form, and indicate your agreement with the above stated terms and conditions</span>
                </label>

                    <div class="w-full px-3 my-8 md:mb-0 text-right">
                        <button type="submit" class="btn-dark mb-2">
                           Reject
                        </button>
                    <button type="submit" class="btn-dark mb-2">
                        Approve
                    </button>
                    </div>
            </div>
            </div>
        </form>
        <!-- form -->


    {% endblock %}
    {% block javascript %}

<script>
    $(document).ready(function() {
        $('#card_access').select2()
    });

</script>
{% endblock %}