
<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.html.twig' %}
<body class="dx-viewport">


<div id="content" class="bg-white pt-0 dark:bg-gray-300 h-lvh">
    {% include 'partials/navbar.html.twig' %}
    {% block content %}

    {% endblock %}
</div>
<script src="{{ '/assets/js/flowbite.min.js' }}"></script>
<script src="//unpkg.com/alpinejs" defer></script>
<script src="{{ '/assets/js/dark-mode.js' }}"></script>
<script src="{{ '/assets/js/menu.js' }}"></script>
{% block javascript %}
{% endblock %}
</body>
</html>