
<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.html.twig' %}
<body class="dx-viewport dark:!bg-gray-300">
{% include 'partials/navbar.html.twig' %}
<div id="content" class="mx-auto pt-0 h-lvh">
    {% block content %}

    {% endblock %}
</div>
<script src="{{ '/assets/js/flowbite.min.js' }}"></script>
<script src="{{ '/tw-elements.umd.min.js' }}"></script>
<script src="//unpkg.com/alpinejs" defer></script>
<script src="{{ '/assets/js/dark-mode.js' }}"></script>
<script src="{{ '/assets/js/menu.js' }}"></script>
{% block javascript %}
{% endblock %}
<script src="https://umd-header.umd.edu/build/bundle.js?search=0&amp;events=0&amp;news=0&amp;schools=0&amp;admissions=0&amp;support=0&amp;support_url=&amp;wrapper=1100&amp;sticky=0"></script>
</body>
</html>