{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% include 'partials/inner_navbar.html.twig' %}
<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-4 mb-12">
    <h2 class="text-2xl font-extrabold dark:text-white text-slate-800 mt-10"><i class="fa-duotone fa-solid fa-cabinet-filing"></i> key Cabinet</h2>

</section>
{% endblock %}

{% block javascript %} {% endblock %}