{% extends "base.html.twig" %}

{% block head %}

    {% block title %}Dashboard{% endblock %}

    {% block stylesheets %}
    {% endblock %}

    {% block top_javascript %}
    {% endblock %}

{% endblock %}
{% block content %}
    {% include 'partials/outer_navbar.html.twig' %}
    <!-- component -->
    <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-4 mb-12">
        <article>
            <h2 class="text-2xl font-extrabold dark:text-white text-slate-800 mt-10"><i class="fa-duotone fa-solid fa-cabinet-filing"></i> KeyKeeper</h2>
            <span class="text-black dark:text-gray-200">Key & Card Request and Tracking System</span>
            <section class="mt-6 grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-x-6 gap-y-8">
                <article class="relative w-full h-64 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg hover:shadow-2xl  transition duration-300 ease-in-out"
                         style="background-image: url('https://images.pexels.com/photos/114741/pexels-photo-114741.jpeg');">
                    <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:opacity-75 transition duration-300 ease-in-out"></div>
                    <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                        <h3 class="text-center">
                            <a class="text-white text-2xl font-bold text-center" href="#">
                                <span class="absolute inset-0"></span>
                                <h1>Keys Database</h1>
                                <span class="text-xs"><i class="fa-duotone fa-regular fa-lock"></i> Authorized Users Only</span>
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="relative w-full h-64 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg hover:shadow-2xl  transition duration-300 ease-in-out"
                         style="background-image: url('https://images.unsplash.com/photo-1569012871812-f38ee64cd54c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');">
                    <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:opacity-75 transition duration-300 ease-in-out"></div>
                    <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                        <h3 class="text-center">
                            <a class="text-white text-2xl font-bold text-center" href="#">
                                <span class="absolute inset-0"></span>
                                <h1>Manage Access</h1>
                                <span class="text-xs"><i class="fa-duotone fa-regular fa-lock"></i> Administrators Only</span>
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="relative w-full h-64 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg hover:shadow-2xl  transition duration-300 ease-in-out"
                         style="background-image: url('https://images.carriercms.com/image/upload/h_350,q_auto,f_auto/v1633696944/lenels2/products/bluediamond/LenelS2-BlueDiamond-mobile-app-credentials-3x2.png');">
                    <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:opacity-75 transition duration-300 ease-in-out"></div>
                    <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                        <h3 class="text-center">
                            <a class="text-white text-2xl font-bold text-center" href="#">
                                <span class="absolute inset-0"></span>
                                <h1>Request Keys / Key Cards</h1>
                                <span class="text-xs">General Access</span>
                            </a>
                        </h3>
                    </div>
                </article>
            </section>
        </article>
    </section>
    <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-4 mb-12">
    <p class="mb-3 text-black-300 dark:text-gray-400 font-medium">This database serves to track and facilitate the transfer and assignment of keys in the department. This will allow us to build and maintain an accurate record of the departmental key inventory.</p>
    <p class="text-black dark:text-gray-400 text-sm">This application uses the Central Authentication Service (CAS). All logins require the entry of your Directory ID and Password to access this application.

        This is a private information system for use by authorized departmental personnel only. Contact us with comments, questions and feedback.</p>
</section>
{% endblock %}

{% block javascript %} {% endblock %}