@tailwind base;
@tailwind components;
/* ... */
body{
    font-size: 14px;
    line-height: 20.3px;
    font-family: "scandia-web", "Helvetica Neue",Helvetica,Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0d1116;
}
/*DevExtreme UI*/
.dx-theme-material-typography h1 {
    @apply !text-2xl font-bold leading-tight
}
.dx-theme-material-typography h2 {
    @apply !text-xl font-bold leading-tight
}
.dx-theme-material-typography h3 {
    @apply !text-lg font-bold leading-tight
}
.page-title{
    @apply mb-6 font-extrabold leading-none tracking-tight text-gray-900 md:text-xl dark:text-white
}
.page-subtitle{
    @apply text-red-600 dark:text-red-700
}

/*Page UI Elements*/

.main-logo{
    @apply lg:h-14 h-10
}
.top_menu{
    @apply block lg:inline-block sm:text-gray-800 sm:hover:border-red-400 lg:hover:text-red-500 mx-6 focus:text-orange-500 p-1 hover:bg-gray-400 sm:hover:bg-transparent
}
.container{
    @apply dark:text-gray-400
}
.page-alert {
    @apply w-full dark:bg-gray-100 dark:text-gray-800 text-sm p-3 border-solid border border-[#FFD43B] flex flex-col sm:flex-row justify-between items-center gap-2 sm:gap-0;
}
.page-alert-icon {
    @apply bg-[#FFD43B] flex p-2 rounded-full;
}
.dx-texteditor.dx-editor-filled .dx-lookup-field, .dx-texteditor.dx-editor-filled .dx-placeholder::before, .dx-texteditor.dx-editor-filled .dx-texteditor-input, .dx-texteditor.dx-editor-outlined .dx-lookup-field, .dx-texteditor.dx-editor-outlined .dx-placeholder::before, .dx-texteditor.dx-editor-outlined .dx-texteditor-input {
    @apply px-4 py-2 leading-tight text-black dark:text-white text-sm;
}
.dx-searchbox .dx-icon-search {
    @apply hidden;
}

#gridContainer {@apply max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700}

/*Page Datagrid Elements*/

.dx-datagrid > .dx-datagrid-headers tr{
    @apply uppercase dark:bg-gray-700 even:dark:bg-gray-800 text-sm
}
.dx-row .dx-data-row .dx-row-lines .dx-row-alt{
}
.dx-datagrid .dx-link {
    @apply text-red-600 dark:text-gray-400
}
.dx-datagrid-nodata{@apply !text-red-600 !text-sm}

.dx-pager, .dx-pagination {
    @apply dark:!text-white dark:!bg-black
}
.dx-button-content:hover{
    @apply bg-red-600 text-white
}
.dx-dropdowneditor-button .dx-button-content:hover{
    @apply bg-red-50
}
/*Select2 dropdown*/
.select2-dropdown {
    @apply rounded-b-lg shadow-md dark:bg-gray-800 text-sm;
}
.select2-container--default .select2-selection--multiple {
    @apply dark:bg-gray-800  text-sm
}
.select2-search {
    @apply border-0 rounded;
}
.select2-results__group {
    @apply font-bold text-gray-900  text-sm;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    @apply bg-red-500 text-white  text-sm;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    @apply dark:text-[#1b181b]  text-sm;
}

/*Table Elements*/
.cell-left{
    @apply text-left !important;
}
.cell-center{
    @apply text-center !important;
}
.cell-right{
    @apply text-right !important;
}


/*Button Elements*/
.btn-outline{
    @apply text-white hover:bg-[#c81e1e] bg-red-800 font-normal py-2 px-4 border border-[#c81e1e] rounded shadow
}
.btn-success{
    @apply focus:outline-none !text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium text-sm px-5 py-2 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900
}
.btn-danger{
    @apply inline-block rounded-full border !text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium text-sm px-5 py-2 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900
}
.btn-light{
    @apply inline-block rounded-full border-2 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal border-gray-400 transition duration-150 ease-in-out focus:outline-none focus:ring-0  motion-reduce:transition-none mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700
}
.btn-dark{
    @apply !text-white bg-[#374151] inline-block rounded-full border border-gray-700 focus:outline-none hover:bg-gray-600 focus:ring-4 focus:ring-gray-600 font-medium text-sm px-5 py-2 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700
}

/* ... */
@tailwind utilities;